In [4]:
import pandas as pd
datafile="PlantGrowth.csv"
data = pd.read_csv(datafile)
 
data.head(10)

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl
5           6    4.61  ctrl
6           7    5.17  ctrl
7           8    4.53  ctrl
8           9    5.33  ctrl
9          10    5.14  ctrl

In [8]:
#Create a boxplot
import seaborn as sns

sns.boxplot(data=data)
data.boxplot('weight', by='group', figsize=(12, 8))

In [2]:
ctrl = data['weight'][data.group == 'ctrl']
 
grps = pd.unique(data.group.values)
d_data = {grp:data['weight'][data.group == grp] for grp in grps}
 
k = len(pd.unique(data.group))  # number of conditions
N = len(data.values)  # conditions times participants
n = data.groupby('group').size()[0] #Participants in each condition

In [3]:
from scipy import stats
 
F, p = stats.f_oneway(d_data['ctrl'], d_data['trt1'], d_data['trt2'])

In [6]:
print(F,p)

4.846087862380136 0.0159099583256229